*{
    padding: 0;
    margin: 0;
   
    box-sizing: border-box;
  
}

body{
    background-color: red;
    font-family: "Inter", sans-serif;
}

.container{
    width: 1440px;
    margin: 0 auto;
    background-color: violet;
    color: white;
}

header{
    padding: 24px;

    border-bottom: dashed rgb(255, 255, 255) 5px;

    display: flex;
    justify-content: space-between;
 


}

header h1{

    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: normal;

}

header h1 a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    

}

header h1 a:hover{
 
    text-shadow: 2px 2px 0 blue;

}

header nav{

}

header nav ul{

    list-style: none;
    display: flex;

}

header nav ul li{
    margin-right: 16px;
    
    

}

header nav ul li:last-child{
    margin-right: 0;
}

header nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
   

}

header nav ul li a:hover{
    background-color: blueviolet;
    box-shadow: -10px -10px  20px blue;

}

.bloque{
    display: flex; /* Alinea elementos en línea */
    align-items: center; /* Centra verticalmente */
    gap: 20px; /* Espacio entre los elementos */
}

.parrafo{
    border-bottom: dashed rgb(255, 255, 255) 5px;;
    margin: 0 auto;

    padding: 40px;

}

img {
    width: 698px;
    height: 488px;
    object-fit: cover; /* Recorta la imagen manteniendo la proporción */
    padding: 48px;
  }
  